{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    [
      "@babel/react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/typescript"
  ]
}